body{
    background-color: rgb(10,25,47);
    box-sizing: border-box;
}
ul li a{
    color: white;
}

.nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 15px;
    font-weight: 600;
}

