.heroSection{
    color:white;
    margin-top: 10vh;
    margin-left: 5%;
    
}
.heroSection h1 {
        font-family: Calibri;
        font-size:  clamp(40px,8vw,65px);
        font-weight: bold;
        color: rgb(204,214,246);

}
.heroSection h1  span {
    color: rgb(136,146,176);
}
.heroSection p {
    line-height: 30px;
    font-size: 19px;
    width: 80%;
    color:rgb(136 146 176);
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;

}


#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    /* padding: 30px 0px; */
    background-color: rgb(0, 0, 0);
    margin: auto;
                
}

