*{
box-sizing: border-box;

    
}
#dropdownMenuButton1{
    background-color: rgb(33,37,41)  !important ;
    border: none;
}

#nav2 {
    background-color: rgb(35,47,62)  !important ;
    padding: 0.3rem;
    
}
#nav2 a {
    color: white;
    text-decoration: none;
    margin-left:1rem ;
    padding: 0.5rem;
    
}
#nav2 a:hover{
    border: 1px white solid;
}

#dropdownMenuButton2{
    background-color: rgb(35,47,62) !important ; 
    border: none;
}

a{
    text-decoration: none;


}

#slider1 {
    background-color: white;
    width: 1200px;
    
}
#slider1 h3{
    background-color: white;

}
#slider1 img {
width: 150px;
cursor: pointer;
}
#slider2 ,h3{
    background-color:white;
}
#slider2 img {
    width: 150px;
    cursor: pointer;
    }
.des{
    color: blue;
    text-decoration: none;
    background: transparent;  
}
.des:hover{
    text-decoration: underline;
    color: red;
  
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  footer {
    background-color: #080808;
    color: #fff;
    padding: 40px 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 30px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
    padding: 0 20px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color: #f0c14b;
  }
  
  .copyright-section {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .copyright-section p {
    margin: 0;
  }
  h4{
    text-align: center;
  }
  p{
    font-family: alice;
    font-size: 15px;
  }